.banner {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: var(--ifm-background-surface-color);
  }
}

.logo {
  max-width: 60px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.button {
  border-radius: 25px;
}

.subtitle {
  margin: 0 auto 2rem;
  max-width: 350px;
}

.image {
  z-index: 10;
  width: 95%;
  height: auto;
  max-width: 1440px;
  border-radius: 6px;
}
