.download {
  svg {
    margin-right: 0.5rem;
  }
}

.platforms {
  margin: 2rem 0;
  color: var(--ifm-color-primary-light);

  @media screen and (max-width: 996px) {
    display: none;
  }
}

.assets {
  width: 100%;
  border: 1px solid var(--ifm-color-primary-light);
  border-radius: 6px;

  @media screen and (max-width: 400px) {
    font-size: 0.85rem;
  }

  .asset,
  .info {
    padding: 0.5rem 1rem;
  }

  .asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid var(--ifm-color-primary-light);
    }

    div {
      display: flex;
      align-items: center;
    }

    a {
      color: unset;
    }

    svg,
    .size {
      color: var(--ifm-color-primary-light);
    }
  }
}

.info {
  margin-top: 1rem;
}
